# Auto detect text files and perform LF normalization
* text=auto

tests/** linguist-vendored
build/** linguist-vendored
dist/** linguist-vendored
rollup.dev.js linguist-vendored
rollup.prod.js linguist-vendored
